.header__logo {
    width: 102.74px;
    height: 24.4px;

    margin: 27px 0 31.6px;
    margin-left: 27px;
}

@media screen and (min-width: 425px) {
    .header__logo {
        width: 142px;
        height: 33px;
        margin: 0 0 41px;
    }
}