.form__submit-btn_inactive {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 2px;
  opacity: 0.2;
  cursor: default;
}

.form__submit-btn_inactive:hover {
  opacity: 0.2;
}