.popup__window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  width: 282px;
  min-height: 140px;

  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .popup__window {
    width: 430px;
    min-height: 181px;
  }
}
