.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  width: 282px;
  min-height: 361px;

  background-color: white;
  color: black;
  border-radius: 10px;
  overflow: hidden;
}