.profile__photo {
  background: url("../../../images/profile_photo.jpg") center / cover;
  border-radius: 50%;
  margin-bottom: 26px;
  object-fit: cover;

  width: 120px;
  height: 120px;

  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .profile__photo {
    margin: 0;
    margin-right: 30px;
  }
}